*{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
ol, ul{
    list-style-type: none;
}
a{
    color: #666;
    text-decoration: none;
}
.left{
    float: left;
}
.right{
    float: right;
}
#top,#header,#nav,#banner,#accessory,#world,#serve,#after_sale,#footer{
    height: 100px;
    width: 100%;
    /* border: 1px solid #000; */
}
.container{
    width: 1280px;
    /* border: 1px solid #f00; */
    margin: 0 auto;
}
.fade{
    opacity: 0;
}
.show{
    opacity: 1;
}

/* top.css */
#top{
    height: 5px;
    background-color: #00925f;
}




/* header.css */
#header{
    height: 30px;
    background-color: #2d2d2d;
    color: #17925f;
}
#header .xlwb{
    width: 20px;
    height: 17px;
    background: url("../img/icons.png") no-repeat -47px -95px;
}
#header .txwb{
    width: 20px;
    height: 20px;
    background: url("../img/icons.png") no-repeat -27px -92px;
}
#header .h_left div{
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}
#header ul li{
    float: left;
    margin-left: 10px;
    line-height: 30px;
}
#header li a{
    color: #b2b2b2;
    font-size: 14px;
    border-right: 1px solid #b2b2b2;
    padding-right: 10px;
}
#header li a:hover{
    color: #00925f;
}
#header ul li span{
    width: 19px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background: url("../img/icons.png") no-repeat 0px -96px;
}



/* nav.css */
#nav{
    height: 90px;
    background-color: #eee;
}
#nav li{
    float: left;
    margin-left: 30px;
    line-height: 90px;
}
#nav li a{
    color: #666;
    font-weight: bold;
}
#nav a:hover{
    color: #00925f;
}


/* banner.css */


/* 明星机型.css */
#star{
    height: 700px;
    background-color: #f2f2f2;
}
#star .star_top{
    text-align: center;
    margin: 10px;
}
#star ul{
    width: 1263px;
    margin: 10px auto;
}
#star li{
    width: 300px;
    text-align: center;
    float: left;
    border-bottom: 4px solid #dfdfdf;
    transition: all .3s;
}
#star li:hover{
    border-bottom: 4px solid #4fb59d;
    transform: translateY(-10px);
}
#star li img{
    width: 300px;
}
#star h2,p{
    margin: 10px;
}
#star p{
    font-size: 12px;
    color: #bdbdbd;
}
#star .money{
    font-size: 14px;
    color: #00925f;
}
#star span{
    width: 13px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
    background: url("../img/icons-1.png") no-repeat -177px -1014px;
}
#star .line{
    width: 0;
    height: 450px;
    border-left: 1px solid #eaeaea;
    margin: 0px 10px;
}


/* 精选配件.css */
#accessory{
    height: 950px;
    background-color: #f6f6f6;
    overflow: hidden;
}
#accessory .acc_top{
    text-align: center;
    margin: 10px 0px;
}
#accessory .acc_main{
    width: 1200px;
    margin: 0 auto;
}
#accessory .acc_left{
    width: 580px;
    height: 950px;
    /* border: 2px solid rgb(129, 68, 68); */
}
#accessory .acc_left div{
    float: left;
    border-bottom: 3px solid #eaeaea;
    margin: 10px;
    transition: all .3s;
}
#accessory .acc_left div:hover{
    border-bottom: 3px solid #00925f;
    transform: translateY(-10px);
}
#accessory .acc_left img{
    width: 260px;
}
#accessory .acc_left>div:last-child img{
    width: 560px;
}
#accessory .acc_all{
    height: 270px;
    width: 270px;
    border:3px solid #eaeaea;
    background-color: #fff;
}
#accessory .acc_all p:first-child{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin: 10px;
}
#accessory .acc_all li{
    float: left;
    width: 135px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
#accessory .acc_all li:hover{
    color: #00925f;
}
#accessory .acc_all .line{
    width: 140px;
    height: 0;
    border-top: 1px solid #ccc;
    clear: both;
    margin: 10px auto;
}
#accessory span{
    width: 13px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    background: url("../img/icons-1.png") no-repeat -177px -1014px;
}
#accessory .acc_all p:last-child{
    text-align: center;
    margin-top: 15px;
}
#accessory .acc_right{
    width: 580px;
}
#accessory .acc_right div{
    float: left;
    margin: 10px;
    border-bottom: 3px solid #eaeaea;
    transition:all .3s;
}
#accessory .acc_right div:hover{
    border-bottom: 3px solid #00925f;
    transform: translateY(-10px);
}
#accessory .acc_right img{
    width: 265px;
}
#accessory .acc_right>div:first-child img{
    width: 560px;
}
#accessory .acc_right>div:last-child img{
    height: 255px;
}



/* world.css */
#world {
    height: 700px;
    overflow: hidden;
    /* clear: both; */
    background-color: #eaeaea;
}
#world .world_top{
    text-align: center;
    margin: 20px;

}
#world .world_main{
    width: 1214px;
    margin: 0 auto;
}
#world .world_left{
    width: 800px;
}
#world .world_left>div{
    float: left;
    margin: 10px;
}
#world .world_left div div{
    border-bottom: 3px solid #eaeaea;
    transition: all .3s;
}
#world .world_left>div:hover div{
    transform: translateY(-10px);
    border-bottom: 3px solid #00925f;
}
#world .world_right{
    width: 400px;
    height: 565px;
    margin-top: 10px;
    background-color: #fff;
}
#world .world_right img{
    width: 80px;
}
#world .world_right .world_title{
    width: 400px;
    height: 50px;
}
#world .world_right .world_title div{
    width: 200px;
    height: 50px;
    background-color: #eaeaea;
    text-align: center;
    line-height: 50px;
}
#world .world_right .world_title .new{
    background-color: #fff;
    border-top: 3px solid #1fbb71;
}
#world .world_right ul li{
    background-color: #eaeaea;
    margin: 20px 10px;
}
#world .world_right dl{
    width: 380px;
    height: 80px;
}
#world .world_right dl dt{
    position: relative;
    top: 6px;
    left: 10px;
}
#world .world_right dl dd{
    width: 300px;
    position: relative;
    top: -30px;
    left: 100px;
}


/* serve.css */
#sever{ 
    height: 100px;
    background-color: #fff;
}
#serve dl{
    width: 200px;
    height: 100px;
    /* border: 1px solid #000; */
}
#serve dt{
    width: 41px;
    height: 41px;
    background: url("../img/icons.png") no-repeat 0px -44px;
    position: relative;
    top: 30px;
    left: 10px;
}
#serve .dd1{
    position: relative;
    top: -15px;
    left: 60px;
    font-weight: bold;
}
#serve .dd2{
    width: 100px;
    position: relative;
    top: -10px;
    left: 60px;
    font-size: 12px;
    color: #aaa;
}
#serve li{
    float: left;
    margin: 0 10px;
    transition: all .3s;
}
#serve li:hover{
    transform: translateY(-10px);
}
#serve ul{
    width: 1110px;
    margin: 0 auto;
    height: 99px;
    border-bottom: 1px solid #333;
}



/* after_sale.css */
#after_sale{
    height: 200px;
    background-color: #fff;
}
#after_sale ul{
    width: 1100px;
    margin: 0 auto;
    padding-top: 20px;
}
#after_sale ul li{
    width: 140px;
    float: left;
    text-align: center;
    margin: 0 20px;
}
#after_sale ol>li{
    line-height: 30px;
}
#after_sale ol>li:first-child a{
    font-weight: bold;
}
#after_sale .xl{
    width: 20px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
    background: url("../img/icons.png") no-repeat -47px -95px;
}


/* footer.css */
#footer{
    height: 40px;
    background-color: #2d2d2d;
}
#footer p{
    line-height: 40px;
}
#footer img{
    margin-left: 20px;
}
#footer p span{
    color: #828282;
    margin: 0 430px 0 20px;
}
#footer p a{
    color: #fff;
    margin: 0 10px;
}
#footer p a:hover{
    color: #00925f;
}


/* back_top.css */
#back_top{
    width: 50px;
    height: 50px;
}
#back_top a{
    position: fixed;
    top: 900px;
    left: 1800px;
    width: 80px;
    height: 70px;
    background-color: black;
    color: white;
    display: none;
    border-radius: 5px;
    background: url("../img/totop.png") no-repeat;
}
